<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trackit - Profile</title>
    <link rel="stylesheet" href="/css/boostrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Track IT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row profile__details">
            <div class="col-md-6">
                <h2>Student Details</h2>
                <p><strong>Last Name:</strong>
                    <%= student.lastname %>
                </p>
                <p>First Name:
                    <%= student.firstname %>
                </p>
                <p>Email:
                    <%= student.username %>
                </p>
                <!-- <p>Address:
                    <%= student.address %>
                </p> -->
            </div>
            <div class="col-md-6">
                <h2>Registered Courses</h2>
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Course</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i<student.courses.length; i++){ %>
                        <tr>
                            <th scope="row">
                                <%= i+1 %>
                            </th>
                            <td>
                                <%= student.courses[i] %>
                            </td>
                            <td>
                                <form action="/course/<%= student._id %>/<%= i %>?_method=DELETE" method="POST"
                                    onsubmit="return confirm('Are you sure you want to delete this course?')">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>